{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'app/img/portada/banner1.png' %}" class="d-block w-100" alt="banner-img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/portada/banner1.png' %}" class="d-block w-100" alt="banner-img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/portada/banner1.png' %}" class="d-block w-100" alt="banner-img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/portada/banner1.png' %}" class="d-block w-100" alt="banner-img">
        </div>
    </div>
</div>
{% endblock banner_slider %}

{% block main-content %}
<div class="container mt-5">
    <h1 class="text-center">Nuestros datos de Contacto</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title text-center">Visita Nuestra Tienda</h5>
                    <p class="card-text text-center"></p>
                    <!-- Dirección -->
                    <address class="card-text text-center">
                        Viñuela s/n<br>
                        La LLave Sur - San Rafael - Mendoza<br>
                    </address>
                    <p class="card-text text-center">Nuestras redes sociales</p>
                    <!-- Agrega los logos de las redes sociales -->
                    <div class="card-text text-center">
                        <a href="URL_DE_FACEBOOK" class="glamour-link">
                            <img src="{% static 'app/img/redes/facebook.png' %}" alt="Facebook" class="social-icon">
                        </a>

                        <a href="URL_DE_INSTAGRAM" class="glamour-link">
                            <img src="{% static 'app/img/redes/instagram.png' %}" alt="Instagram" class="social-icon">
                        </a>

                        <a href="URL_DE_WHATSAPP" class="glamour-link">
                            <img src="{% static 'app/img/redes/whatsapp.png' %}" alt="WhatsApp" class="social-icon">
                        </a>
                    </div>

                    <!-- Correo electrónico -->
                    <p class="card-text text-center"><a href="mailto:info@yourfashionhub.com"
                            class="glamour-link">info@yourfashionhub.com</a></p>
                    <p class="card-text text-center">o comuniquese a nuestros telefono:</p>
                    <!-- Número de teléfono -->
                    <p class="card-text text-center"><a href="tel:+11234567890" class="glamour-link">+54 9 260
                            4444-4444</a></p>
                </div>
            </div>
            <div class="mt-4">
                <h5 class="text-center">Aquí nos encontras</h5>
                <!-- Mapa de Google -->
                <iframe
                    src="https://www.google.com.ar/maps/dir//Naranja+Indumentaria,+5600,+La+Llave,+Mendoza/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x967851bb93a3c307:0x7dfa3418863a1bb9?sa=X&ved=2ahUKEwiDm_CvxOqCAxWmlZUCHbilD8MQ48ADegQICRAA"
                    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}